/* CommonGenralRules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--blue: #0d6efd;
	--gray: #5f6368;
}
/* /CommonGenralRules */

/* #Site_Header */
.row > img {
	width: 10%;
}

.nav-link {
	padding: 0 !important;
	margin: 0 1rem;
	color: var(--gray) !important;
	font-size: 20px;
}

.nav-link:hover {
	cursor: pointer;
	color: var(--blue) !important;
	border-bottom: 5px solid var(--blue) !important;
}
/* /#Site_Header */

/* #Site_Main */
#Site_Main {
	margin: 5rem 0;
}
/* /#Site_Main */
